.img_history {
    display: flex;
    flex-direction: row;
    gap: 4px;
    max-width: 100svw;
    overflow: scroll;
}

.img_wrap {
    display: flex;
    flex-direction: column;
}

.img_wrap img {
    max-width: 300px;
    max-height: 300px;
}

.upload_img {
    max-width: 500px;
    max-height: 500px;
}